.form-container {
    background-color: #831656; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(3, 1, 1, 0.89); 
}

p {
    color: #070202; 
    font-weight: bolder;
    font-size: larger;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #0c0505; 
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #0f1105; 
    border-radius: 5px;
    box-sizing: border-box; 
}

button {
    background-color: #ceb153; 
    text-transform: uppercase;
    font-weight: bold;
    color: #0a0101;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #3a08c2;
    color: white; 
}
