body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 20px;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.col {
    flex: 1;
    text-align: center;
    margin: 20px;
}


form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

button {
    padding: 4px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start;
    
}

button:hover {
    background-color: #d11dc8;
}

input[type="text"]:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
    background-color: #a7d4ee;
    width: 500px;
    padding: 8px;
    border: 2px solid #940c08;
    border-radius: 4px;
    margin-bottom: 10px;
}

.content {
    margin-bottom: 40px;
}