:root {
    --cool-purple: #1a062e;
    --cool-dark: #1b1104;
    --cool-yellow: #d9ec2a;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.row {
    margin: 20px;
    display: flex;
}

.col {
    margin: 20px;
    padding: 15px;
}
.container {
    width: 100%;
    margin: 20px;
    padding: 20px;
}

.content-blog-post {
    max-width: 800px;
    margin-left: 20px;
    text-align: center;
    padding: 20px;
    color: var(--cool-dark);
    border-radius: 50%;
    box-sizing: border-box;
    border: 10px solid transparent;
    border-image: linear-gradient(to bottom, var(--cool-purple), var(--cool-yellow));
    border-image-slice: 1;

}

.content-form-container {
    max-width: 800px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    padding: 20px;
    border: 5px solid var(--cool-purple);
    box-sizing: border-box;
    color: var(--cool-dark)
}

.col {
    flex: 1;
    text-align: left;
    margin: 20px;
}

form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: var(--cool-dark);
    text-transform: uppercase;
    font-weight: bold;
    color: #ce66f7;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #f7e75a;
}

input[type="text"]:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
    background-color: #a7d4ee;
    width: 400px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.content {
    margin-bottom: 40px;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #333;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}